<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Seeloewen_Shutdown.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Seeloewen_Shutdown.My.MySettings>
            <setting name="DefaultAction" serializeAs="String">
                <value>shutdown</value>
            </setting>
            <setting name="DefaultTime" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTimeChoice" serializeAs="String">
                <value>minutes</value>
            </setting>
            <setting name="DefaultMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDefaultMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GithubToken" serializeAs="String">
                <value>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</value>
            </setting>
        </Seeloewen_Shutdown.My.MySettings>
    </userSettings>
</configuration>